In [20]:
import pandas as pd 
import numpy as np 
! pip install dask
import dask.dataframe as dd
import dask

from sklearn.model_selection import train_test_split



from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

Requirement already satisfied: dask in c:\users\kali\anaconda3\lib\site-packages (2.5.2)

In [2]:
raw = pd.read_csv('./MW-sample.csv',low_memory=False,header= None)

# df = dd.read_csv('./MW.csv')
# df.describe()

FILE FORMAT:

The data is stored in a very simple text format including:

[id]: a numeric, only for reference purposes.

[event] id, a integer, used to distinguish the same event captured at different brain locations, used only by multichannel devices (all except MW).

[device]: a 2 character string, to identify the device used to capture the signals, "MW" for MindWave....

[channel]: a string, to indentify the 10/20 brain location of the signal ....MindWave "FP1"

[code]: a integer, to indentify the digit been thought/seen, with possible values 0,1,2,3,4,5,6,7,8,9 or -1 for random captured signals not related to any of the digits.

[size]: a integer, to identify the size in number of values captured in the 2 seconds of this signal, since the Hz of each device varies, in "theory" the value is close to 512Hz for MW, 128Hz for EP, 220Hz for MU & 128Hz for IN, for each of the 2 seconds.

[data]: a coma separated set of numbers, with the time-series amplitude of the signal, each device uses a different precision to identify the electrical potential captured from the brain: integers in the case of MW & MU or real numbers in the case of EP & IN.

There is no headers in the files,  every line is  a signal, and the fields are separated by a tab

In [3]:
raw.head()

,0,1,2,3,4,5,6,7,8,9,...,942,943,944,945,946,947,948,949,950,951
0,0\t0\tMW\tFP1\t0\t1017\t38,48.0,51.0,44.0,48.0,56.0,56.0,41.0,20.0,-3.0,...,82.0,96.0,92.0,92.0,103.0,118.0,136.0,146.0,145.0,134.0
1,170\t170\tMW\tFP1\t1\t953\t21,19.0,23.0,16.0,1.0,0.0,6.0,9.0,4.0,2.0,...,236.0,242.0,250.0,247.0,235.0,237.0,252.0,275.0,291.0,310.0
2,120\t120\tMW\tFP1\t5\t953\t24,20.0,34.0,54.0,52.0,34.0,19.0,16.0,19.0,28.0,...,290.0,312.0,325.0,328.0,320.0,307.0,298.0,300.0,305.0,300.0
3,180\t180\tMW\tFP1\t0\t1017\t23,32.0,28.0,24.0,21.0,24.0,33.0,36.0,33.0,29.0,...,161.0,163.0,161.0,157.0,145.0,131.0,140.0,161.0,165.0,153.0
4,141\t141\tMW\tFP1\t4\t1017\t6,21.0,26.0,17.0,5.0,4.0,3.0,12.0,25.0,36.0,...,96.0,92.0,107.0,130.0,137.0,120.0,97.0,86.0,99.0,122.0

In [4]:
# https://stackoverflow.com/questions/14745022/how-to-split-a-column-into-two-columns
tmp = raw[0].str.split('\t').tolist()[:-1] # [:-1] means exclude last
df = pd.DataFrame(tmp,columns = ["id", "event" , "device" , "channel" , "code" , "size" , "0"] )
df.head(3)

    id event device channel code  size   0
0    0     0     MW     FP1    0  1017  38
1  170   170     MW     FP1    1   953  21
2  120   120     MW     FP1    5   953  24

In [5]:
to_concat = raw[:-1].drop(0,axis=1)
to_concat.head(3)

,1,2,3,4,5,6,7,8,9,10,...,942,943,944,945,946,947,948,949,950,951
0,48.0,51.0,44.0,48.0,56.0,56.0,41.0,20.0,-3.0,-9.0,...,82.0,96.0,92.0,92.0,103.0,118.0,136.0,146.0,145.0,134.0
1,19.0,23.0,16.0,1.0,0.0,6.0,9.0,4.0,2.0,9.0,...,236.0,242.0,250.0,247.0,235.0,237.0,252.0,275.0,291.0,310.0
2,20.0,34.0,54.0,52.0,34.0,19.0,16.0,19.0,28.0,45.0,...,290.0,312.0,325.0,328.0,320.0,307.0,298.0,300.0,305.0,300.0

In [6]:
data = pd.concat([df,to_concat], axis =1)
data = data.drop(['device','channel'],axis =1)
data.head()

,id,event,code,size,0,1,2,3,4,5,...,942,943,944,945,946,947,948,949,950,951
0,0,0,0,1017,38,48.0,51.0,44.0,48.0,56.0,...,82.0,96.0,92.0,92.0,103.0,118.0,136.0,146.0,145.0,134.0
1,170,170,1,953,21,19.0,23.0,16.0,1.0,0.0,...,236.0,242.0,250.0,247.0,235.0,237.0,252.0,275.0,291.0,310.0
2,120,120,5,953,24,20.0,34.0,54.0,52.0,34.0,...,290.0,312.0,325.0,328.0,320.0,307.0,298.0,300.0,305.0,300.0
3,180,180,0,1017,23,32.0,28.0,24.0,21.0,24.0,...,161.0,163.0,161.0,157.0,145.0,131.0,140.0,161.0,165.0,153.0
4,141,141,4,1017,6,21.0,26.0,17.0,5.0,4.0,...,96.0,92.0,107.0,130.0,137.0,120.0,97.0,86.0,99.0,122.0

### Droped 'device' and 'channel', since they are of not in use. this dataset is single channel
... I am using *MindWave*

## Now its time to give a shit about the data we are working with... rather than treating it as 'just data'

[event]: id, a integer, used to distinguish the same event captured at different brain locations, used only by multichannel devices (all except MW).

[size]: a integer, to identify the size in number of values captured in the 2 seconds of this signal, since the Hz of each device varies, in "theory" the value is close to 512Hz for MW, 128Hz for EP, 220Hz for MU & 128Hz for IN, for each of the 2 seconds.

[data]: a coma separated set of numbers, with the time-series amplitude of the signal, each device uses a different precision to identify the electrical potential captured from the brain: integers in the case of MW & MU or real numbers in the case of EP & IN.

## I have truncated the data in excel to make it square (not a *jagged* array) 
* event is of no use
* size appears to be of non use 
* I see no point in keeping ID 

**I have no clue what to do with [data]...**


[data - proper definition]: a time-series signal, where the y-axis is the voltage.... its that fucking simple, no need for big words 

**I'm going back and labeling *data* as 0**

In [7]:
df = data.drop(['id','event','size'],axis =1)
df.head(10)

,code,0,1,2,3,4,5,6,7,8,...,942,943,944,945,946,947,948,949,950,951
0,0,38,48.0,51.0,44.0,48.0,56.0,56.0,41.0,20.0,...,82.0,96.0,92.0,92.0,103.0,118.0,136.0,146.0,145.0,134.0
1,1,21,19.0,23.0,16.0,1.0,0.0,6.0,9.0,4.0,...,236.0,242.0,250.0,247.0,235.0,237.0,252.0,275.0,291.0,310.0
2,5,24,20.0,34.0,54.0,52.0,34.0,19.0,16.0,19.0,...,290.0,312.0,325.0,328.0,320.0,307.0,298.0,300.0,305.0,300.0
3,0,23,32.0,28.0,24.0,21.0,24.0,33.0,36.0,33.0,...,161.0,163.0,161.0,157.0,145.0,131.0,140.0,161.0,165.0,153.0
4,4,6,21.0,26.0,17.0,5.0,4.0,3.0,12.0,25.0,...,96.0,92.0,107.0,130.0,137.0,120.0,97.0,86.0,99.0,122.0
5,0,65,53.0,58.0,74.0,80.0,69.0,56.0,50.0,54.0,...,113.0,132.0,121.0,86.0,82.0,112.0,136.0,141.0,132.0,122.0
6,6,13,37.0,42.0,48.0,51.0,48.0,48.0,51.0,55.0,...,41.0,64.0,77.0,77.0,75.0,80.0,92.0,105.0,108.0,100.0
7,2,12,20.0,21.0,37.0,55.0,58.0,70.0,89.0,85.0,...,131.0,124.0,107.0,112.0,134.0,139.0,124.0,117.0,141.0,161.0
8,4,24,37.0,49.0,55.0,56.0,53.0,57.0,75.0,76.0,...,42.0,75.0,71.0,42.0,26.0,48.0,73.0,72.0,56.0,51.0
9,9,-5,10.0,38.0,48.0,40.0,42.0,58.0,71.0,71.0,...,65.0,64.0,65.0,64.0,52.0,45.0,50.0,61.0,75.0,84.0

In [11]:
X = df.drop(['code'],axis =1)
y = df.code

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

In [21]:
X_train.head()
y_train.head()

,0,1,2,3,4,5,6,7,8,9,...,942,943,944,945,946,947,948,949,950,951
24,39,26.0,28.0,50.0,65.0,59.0,38.0,9.0,7.0,35.0,...,54.0,44.0,35.0,32.0,25.0,10.0,1.0,6.0,28.0,54.0
154,11,6.0,8.0,17.0,26.0,34.0,37.0,25.0,10.0,3.0,...,8.0,23.0,23.0,13.0,17.0,28.0,38.0,32.0,17.0,18.0
137,2,4.0,8.0,19.0,37.0,53.0,48.0,28.0,22.0,24.0,...,74.0,76.0,73.0,66.0,52.0,44.0,52.0,54.0,48.0,43.0
166,88,86.0,73.0,72.0,76.0,83.0,82.0,84.0,85.0,80.0,...,16.0,18.0,33.0,45.0,48.0,28.0,17.0,12.0,13.0,12.0
128,22,8.0,0.0,1.0,0.0,9.0,35.0,53.0,45.0,35.0,...,109.0,97.0,68.0,59.0,70.0,82.0,81.0,74.0,69.0,72.0

24     2
154    1
137    4
166    9
128    0
Name: code, dtype: object

In [25]:
!pip install tensorflow

import tensorflow as tf
print("Num GPUs Available: ", len(tf.config.experimental.list_physical_devices('GPU')))

Collecting tensorflow
  Downloading https://files.pythonhosted.org/packages/54/5f/e1b2d83b808f978f51b7ce109315154da3a3d4151aa59686002681f2e109/tensorflow-2.0.0-cp37-cp37m-win_amd64.whl (48.1MB)
Collecting astor>=0.6.0 (from tensorflow)
  Downloading https://files.pythonhosted.org/packages/c3/88/97eef84f48fa04fbd6750e62dcceafba6c63c81b7ac1420856c8dcc0a3f9/astor-0.8.1-py2.py3-none-any.whl
Collecting tensorboard<2.1.0,>=2.0.0 (from tensorflow)
  Downloading https://files.pythonhosted.org/packages/76/54/99b9d5d52d5cb732f099baaaf7740403e83fe6b0cedde940fabd2b13d75a/tensorboard-2.0.2-py3-none-any.whl (3.8MB)
Requirement already satisfied: wheel>=0.26 in c:\users\kali\anaconda3\lib\site-packages (from tensorflow) (0.33.6)
Requirement already satisfied: six>=1.10.0 in c:\users\kali\appdata\roaming\python\python37\site-packages (from tensorflow) (1.11.0)
Collecting keras-applications>=1.0.8 (from tensorflow)
  Downloading https://files.pythonhosted.org/packages/71/e3/19762fdfc62877ae9102edf6342d71b28fbfd9dea3d2f96a882ce099b03f/Keras_Applications-1.0.8-py3-none-any.whl (50kB)
Collecting numpy<2.0,>=1.16.0 (from tensorflow)
  Downloading https://files.pythonhosted.org/packages/e9/0f/b1aaf961980d5ea94243f28f91d3f6fc6f3b7e5047a9b8dc037541c2cc11/numpy-1.18.0-cp37-cp37m-win_amd64.whl (12.8MB)
Collecting absl-py>=0.7.0 (from tensorflow)
  Downloading https://files.pythonhosted.org/packages/1a/53/9243c600e047bd4c3df9e69cfabc1e8004a82cac2e0c484580a78a94ba2a/absl-py-0.9.0.tar.gz (104kB)
Collecting opt-einsum>=2.3.2 (from tensorflow)
  Downloading https://files.pythonhosted.org/packages/b8/83/755bd5324777875e9dff19c2e59daec837d0378c09196634524a3d7269ac/opt_einsum-3.1.0.tar.gz (69kB)
Collecting google-pasta>=0.1.6 (from tensorflow)
  Downloading https://files.pythonhosted.org/packages/c3/fd/1e86bc4837cc9a3a5faf3db9b1854aa04ad35b5f381f9648fbe81a6f94e4/google_pasta-0.1.8-py3-none-any.whl (57kB)
Collecting gast==0.2.2 (from tensorflow)
  Downloading https://files.pythonhosted.org/packages/4e/35/11749bf99b2d4e3cceb4d55ca22590b0d7c2c62b9de38ac4a4a7f4687421/gast-0.2.2.tar.gz
Collecting termcolor>=1.1.0 (from tensorflow)
  Downloading https://files.pythonhosted.org/packages/8a/48/a76be51647d0eb9f10e2a4511bf3ffb8cc1e6b14e9e4fab46173aa79f981/termcolor-1.1.0.tar.gz
Requirement already satisfied: keras-preprocessing>=1.0.5 in c:\users\kali\appdata\roaming\python\python37\site-packages (from tensorflow) (1.0.5)
Collecting grpcio>=1.8.6 (from tensorflow)
  Downloading https://files.pythonhosted.org/packages/8b/14/ab1501cfff78b88d7368659b227c603d7599dd25226ff682c71334e78aed/grpcio-1.26.0-cp37-cp37m-win_amd64.whl (1.8MB)
Collecting protobuf>=3.6.1 (from tensorflow)
  Downloading https://files.pythonhosted.org/packages/30/c6/286db43e2d0d4b89d328a222365c7a253a99a24067812253f0d4f8eb0f1c/protobuf-3.11.2-cp37-cp37m-win_amd64.whl (1.0MB)
Collecting tensorflow-estimator<2.1.0,>=2.0.0 (from tensorflow)
  Downloading https://files.pythonhosted.org/packages/fc/08/8b927337b7019c374719145d1dceba21a8bb909b93b1ad6f8fb7d22c1ca1/tensorflow_estimator-2.0.1-py2.py3-none-any.whl (449kB)
Requirement already satisfied: wrapt>=1.11.1 in c:\users\kali\anaconda3\lib\site-packages (from tensorflow) (1.11.2)
Collecting google-auth-oauthlib<0.5,>=0.4.1 (from tensorboard<2.1.0,>=2.0.0->tensorflow)
  Downloading https://files.pythonhosted.org/packages/7b/b8/88def36e74bee9fce511c9519571f4e485e890093ab7442284f4ffaef60b/google_auth_oauthlib-0.4.1-py2.py3-none-any.whl
Requirement already satisfied: werkzeug>=0.11.15 in c:\users\kali\anaconda3\lib\site-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow) (0.16.0)
Collecting google-auth<2,>=1.6.3 (from tensorboard<2.1.0,>=2.0.0->tensorflow)
  Downloading https://files.pythonhosted.org/packages/36/f8/84b5771faec3eba9fe0c91c8c5896364a8ba08852c0dea5ad2025026dd95/google_auth-1.10.0-py2.py3-none-any.whl (76kB)
Collecting markdown>=2.6.8 (from tensorboard<2.1.0,>=2.0.0->tensorflow)
  Downloading https://files.pythonhosted.org/packages/c0/4e/fd492e91abdc2d2fcb70ef453064d980688762079397f779758e055f6575/Markdown-3.1.1-py2.py3-none-any.whl (87kB)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\kali\anaconda3\lib\site-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow) (2.22.0)
Requirement already satisfied: setuptools>=41.0.0 in c:\users\kali\anaconda3\lib\site-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow) (41.4.0)
Requirement already satisfied: h5py in c:\users\kali\appdata\roaming\python\python37\site-packages (from keras-applications>=1.0.8->tensorflow) (2.8.0)
Collecting requests-oauthlib>=0.7.0 (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.1.0,>=2.0.0->tensorflow)
  Downloading https://files.pythonhosted.org/packages/a3/12/b92740d845ab62ea4edf04d2f4164d82532b5a0b03836d4d4e71c6f3d379/requests_oauthlib-1.3.0-py2.py3-none-any.whl
Collecting rsa<4.1,>=3.1.4 (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow)
  Downloading https://files.pythonhosted.org/packages/02/e5/38518af393f7c214357079ce67a317307936896e961e35450b70fad2a9cf/rsa-4.0-py2.py3-none-any.whl
Collecting cachetools<5.0,>=2.0.0 (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow)
  Downloading https://files.pythonhosted.org/packages/08/6a/abf83cb951617793fd49c98cb9456860f5df66ff89883c8660aa0672d425/cachetools-4.0.0-py3-none-any.whl
Collecting pyasn1-modules>=0.2.1 (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow)
  Downloading https://files.pythonhosted.org/packages/52/50/bb4cefca37da63a0c52218ba2cb1b1c36110d84dcbae8aa48cd67c5e95c2/pyasn1_modules-0.2.7-py2.py3-none-any.whl (131kB)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kali\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\kali\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\kali\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\kali\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow) (1.24.2)
Collecting oauthlib>=3.0.0 (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.1.0,>=2.0.0->tensorflow)
  Downloading https://files.pythonhosted.org/packages/05/57/ce2e7a8fa7c0afb54a0581b14a65b56e62b5759dbc98e80627142b8a3704/oauthlib-3.1.0-py2.py3-none-any.whl (147kB)
Collecting pyasn1>=0.1.3 (from rsa<4.1,>=3.1.4->google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow)
  Downloading https://files.pythonhosted.org/packages/62/1e/a94a8d635fa3ce4cfc7f506003548d0a2447ae76fd5ca53932970fe3053f/pyasn1-0.4.8-py2.py3-none-any.whl (77kB)
Building wheels for collected packages: absl-py, opt-einsum, gast, termcolor
  Building wheel for absl-py (setup.py): started
  Building wheel for absl-py (setup.py): finished with status 'done'
  Created wheel for absl-py: filename=absl_py-0.9.0-cp37-none-any.whl size=121936 sha256=31902854f70ce949324290af7394cc68d50f28c4cc54146db2553b844f596fce
  Stored in directory: C:\Users\kali\AppData\Local\pip\Cache\wheels\8e\28\49\fad4e7f0b9a1227708cbbee4487ac8558a7334849cb81c813d
  Building wheel for opt-einsum (setup.py): started
  Building wheel for opt-einsum (setup.py): finished with status 'done'
  Created wheel for opt-einsum: filename=opt_einsum-3.1.0-cp37-none-any.whl size=61701 sha256=6a5c0fa54ffafa80b7e0ae1100564a215df0729159c08f00a6645074c35000cd
  Stored in directory: C:\Users\kali\AppData\Local\pip\Cache\wheels\2c\b1\94\43d03e130b929aae7ba3f8d15cbd7bc0d1cb5bb38a5c721833
  Building wheel for gast (setup.py): started
  Building wheel for gast (setup.py): finished with status 'done'
  Created wheel for gast: filename=gast-0.2.2-cp37-none-any.whl size=7546 sha256=db494e50c1dbead68ea2ed788fb268a80aee078a7f13083ce3b9616cbda6d416
  Stored in directory: C:\Users\kali\AppData\Local\pip\Cache\wheels\5c\2e\7e\a1d4d4fcebe6c381f378ce7743a3ced3699feb89bcfbdadadd
  Building wheel for termcolor (setup.py): started
  Building wheel for termcolor (setup.py): finished with status 'done'
  Created wheel for termcolor: filename=termcolor-1.1.0-cp37-none-any.whl size=4835 sha256=9aae71d7c05a3b490e4678f71bfbf5b89b1667ff910633ddd452f58999040bc9
  Stored in directory: C:\Users\kali\AppData\Local\pip\Cache\wheels\7c\06\54\bc84598ba1daf8f970247f550b175aaaee85f68b4b0c5ab2c6
Successfully built absl-py opt-einsum gast termcolor
Installing collected packages: astor, absl-py, pyasn1, rsa, cachetools, pyasn1-modules, google-auth, oauthlib, requests-oauthlib, google-auth-oauthlib, protobuf, numpy, markdown, grpcio, tensorboard, keras-applications, opt-einsum, google-pasta, gast, termcolor, tensorflow-estimator, tensorflow
  Found existing installation: numpy 1.15.4
    Uninstalling numpy-1.15.4:
      Successfully uninstalled numpy-1.15.4

ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'c:\\users\\kali\\appdata\\roaming\\python\\python37\\site-packages\\~umpy\\.libs\\libopenblas.CSRRD7HKRKC3T3YXA7VY7TAZGLSWDKW6.gfortran-win_amd64.dll'
Consider using the `--user` option or check the permissions.

ModuleNotFoundError: No module named 'tensorflow'